<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title></title>
   <link rel="stylesheet" type="text/css" href="styles.css">
   <!--The https://fullcalendar.io/ library is used to construct the calendar on the page-->
   <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script> 
   <script src="calendar.js"></script>
</head>

<body class="calendar-page">
   <div class="main-title">Travel Page</div>
   <div class="marquee">
      <p>Welcome to Our Travel Website! Explore the World with Us!</p>
   </div>
   <div class="navbar">
      <a href="/">Feature</a>
      <a href="/plannerOverview">Planner</a>
      <a href="/country_comparison">Comparison</a>
      <a href="/calendar">Calendar</a>
   </div>

   <form class="search-bar" action="/city" method="POST">
      <input type="text" name="value">
      <button type="submit">Enter</button>
   </form>

   <div id="header">
      <h1 class="textlogo">Calendar</h1>
   </div>

   <div id="container">
      <div id="main">
         <div id="calendar"></div>
      </div>
      <div id="aside">
         <h2>Itineraries</h2>
   </div>
</body>