<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>City Page</title>
    <link href="styles.css" rel="stylesheet">
</head>

<body>
    <% const city=info[0] %>
        <div class="main-title">Travel Page</div>
        <div class="marquee">
            <p>Welcome to Our Travel Website! Explore the World with Us!</p>
        </div>
        <div class="navbar">
            <a href="featured.html">Feature</a>
            <a href="plannerOverviewPage.html">Planner</a>
            <a href="country_comparison.html">Comparison</a>
            <a href="calendar.html">Calendar</a>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search..." id="searchInput" oninput="updateSuggestions()">
            <button type="submit">Search</button>
            <div id="suggestions" class="suggestions-container">

            </div>
        </div>
        <% info.forEach(city=> { %>
            <div class="player-info">
                <h2>
                    bruh
                </h2>
            </div>
            <% }) %>

                <section class="cityWrapper">
                    <h1 class="cityName">
                    </h1>
                    <div class="informationWrapper">
                        <div class="mainInformation">
                            <div class="currentEvents">
                                <div class="infoBlock">
                                    <h2>Upcoming Events</h2>
                                    <img src="resources/minecraftBst.jpg" alt="" class="infoPic">
                                    <h4 class="event-item">Gonzaga Men's BasketBall Game</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus cupiditate
                                        debitis
                                        necessitatibus facere, et recusandae minima dicta impedit nesciunt maxime
                                        voluptas
                                        molestiae, non inventore laudantium autem, dolores labore qui accusamus.</p>

                                </div>
                            </div>
                            <div class="sites">
                                <div class="infoBlock">
                                    <h2>Sites to See</h2>
                                    <img src="resources/spokanepic.jpg" alt="" class="infoPic">
                                    <h4 class="site-item">Tne Garbage Goat</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Sed do Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt,
                                        natus. Earum
                                        eligendi quidem ducimus placeat rerum maxime beatae perferendis corrupti,
                                        consequuntur
                                        rem
                                        delectus quaerat. Modi omnis ut totam. Nesciunt, voluptas? eiusmod tempor
                                        incididunt ut
                                        labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                            <div class="Activites">
                                <div class="infoBlock">

                                    <h2>Fun Activites</h2>
                                    <img src="resources/spokanepic.jpg" alt="" class="infoPic">
                                    <h4 class="activities-item">Ice Skating</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                            <div class="cuisine">
                                <div class="infoBlock">
                                    <h2>Popular Cuisine</h2>
                                    <img src="resources/minecraftBst.jpg" alt="" class="infoPic">
                                    <h4 class="cusine-item">Flying Goat Pizza</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>

                        </div>

                        <div class="sideInformation">

                            <div class="tags">
                                <h3>Tags</h3>
                                <ul class="tagList">
                                    <li class="tag">North America</li>
                                    <li class="tag">Pacific-Northwest</li>
                                    <li class="tag">Hiking</li>
                                    <li class="tag">Medium Population</li>
                                </ul>
                            </div>
                            <div class="map">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d85970.93640374066!2d-117.5363705680355!3d47.672926546277445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549e185c30bbe7e5%3A0xddfcc9d60b84d9b1!2sSpokane%2C%20WA!5e0!3m2!1sen!2sus!4v1699587224948!5m2!1sen!2sus"
                                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                            <div class="cityPic"><img src="resources/spokanepic.jpg" alt="cityPicture" class="cityPic">
                            </div>
                        </div>

                    </div>

                </section>

                <script src="script.js"></script>
</body>