<!-- <!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <link rel="stylesheet" href="comparisonPageStyles.css">
    </head>
    <body>
        <div id="nav">
            <ul>
                <li><a href = "featured.html">Featured</a></li>
                <li><a href = "plannerOverviewPage.html">Planner</a></li>
                <li><a href = "country_comparison.html">Comparison</a></li>
                <li><a href = "">Calender</a></li>
            </ul>
        </div>
        <div id="header">
            <h1 class="textlogo">City Comparison</h1>
        </div>
        <div class="search-container">
            <form action="/search_page" method="get">
                <input type="input" name="search_query" placeholder="Search city's atrribute...">
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="border-container">
            <div class="border-box">
                <form action="search_city" method="get">
                    <input type="input" name="search_query" placeholder="City1">
                    <button type="Enter">Enter</button>
                </form>
            </div>
            <div class="border-box">
                <form action="search_city" method="get">
                    <input type="input" name="search_query" placeholder="City2">
                    <button type="Enter">Enter</button>
                </form>
            </div>
            
        </div>
        <div class="border2-container">
            <div class="content-box">
                <h2 class="textlogo">City1</h2>
                <div id="pics">
                    <img src="seattle.jpg" alt="Seattle's Picture" width="150" height="200">
                </div>
                <div id="atrributes">
                    <p>Food: 4/5</p>
                    <p>Landmark: 4/5</p>
                    <p>Housing: 4/5 </p>
                </div>
            
            </div>
            <div class="content-box">
                <h2 class="textlogo">City2</h2>
                <div id="pics">
                    <img src="sf.jpg" alt="SF's Picture" width="150" height="200">
                </div>
                <div id="atrributes">
                    <p>Food: 4/5</p>
                    <p>Landmark: 4/5</p>
                    <p>Housing: 4/5 </p>
                </div>
            </div>


        </div>
        
        
        
    </body>
</html> -->








<!DOCTYPE html>
<html lang="en">


<head>
    <title>Travel Website</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta name="description" content="Comparison page">
</head>

<body>
    <div class="main-title">Comparison Page</div>
    <div class="marquee">
        <p>Welcome to Our Travel Website! Explore the World with Us!</p>
    </div>
    <div class="navbar">
        <a href="/">Feature</a>
        <a href="/plannerOverview">Planner</a>
        <a href="/country_comparison">Comparison</a>
        <a href="/calendar">Calendar</a>
    </div>
    <form class="search-bar" action="/city" method="POST">
        <input type="text" name="value">
        <button type="submit">Enter</button>
    </form>
    <!-- <div id="header">
        <h1 class="textlogo">City Comparison</h1>
    </div> -->
    <!-- <div class="search-container">
        <form action="/search_page" method="get">
            <input type="input" name="search_query" placeholder="Search city's atrribute...">
            <button type="submit">Search</button>
        </form>
    </div> -->
    <div class="border-container">
        <div class="border-box">
            <form action="search_city" method="get">
                <input type="input" name="search_query" placeholder="City1">
                <button type="Enter">Enter</button>
            </form>
        </div>
        <div class="border-box">
            <form action="search_city" method="get">
                <input type="input" name="search_query" placeholder="City2">
                <button type="Enter">Enter</button>
            </form>
        </div>

    </div>
    <div class="border2-container">
        <div class="content-box">
            <h2 class="textlogo">City1</h2>
            <div id="pics">
                <img src="resources/minecraftBst.jpg" alt="Seattle's Picture" width="150" height="200">
            </div>
            <div id="atrributes">
                <p>Food: 4/5</p>
                <p>Landmark: 4/5</p>
                <p>Housing: 4/5 </p>
            </div>

        </div>
        <div class="content-box">
            <h2 class="textlogo">City2</h2>
            <div id="pics">
                <img src="resources/minecraftBst.jpg" alt="SF's Picture" width="150" height="200">
            </div>
            <div id="atrributes">
                <p>Food: 4/5</p>
                <p>Landmark: 4/5</p>
                <p>Housing: 4/5 </p>
            </div>
        </div>


    </div>




    <script src="script_YI.js"></script>
</body>

</html>