<!DOCTYPE html>
<html lang="en">
<head>
    <title>Travel Website</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta name="description" content="Comparison page">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="main-title">Travel Page</div>
    <div class="marquee">
        <p>Welcome to Our Travel Website! Explore the World with Us!</p>
    </div>
    <div class="navbar">
        <a href="/">Feature</a>
        <a href="/plannerOverview">Planner</a>
        <a href="/country_comparison">Comparison</a>
        <a href="/calendar">Calendar</a>
    </div>
    
    <div class="search-container">
        <div class="search-box">
            <form id="search-form-city1" class="search-form" action="/search_city" method="POST">
                <input type="text" name="cityName" id="search-input1" class="search-input" placeholder="Enter city name">
                <button type="submit" class="search-button">Search</button>
            </form>
            <div class="content-container" id="city1-info">
            
            </div>
            <button type="button" id="learn-more-button2" class="learn-more-button" onclick="openImageNewTab(getCityName1())">Learn More</button>
        </div>
        <div class="search-box">
            <form id="search-form-city2" class="search-form" action="/search_city" method="POST">
                <input type="text" name="cityName" id="search-input2" class="search-input" placeholder="Enter city name">
                <button type="submit" class="search-button">Search</button>
            </form>
            <div class="content-container" id="city2-info">
               
            </div>
    
            <button type="button" id="learn-more-button2" class="learn-more-button" onclick="openImageNewTab(getCityName2())">Learn More</button>

        </div>
    </div>
    
    <script src="country_comparison.js"></script>

</body>
</html>