<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="main-title">Travel Page</div>
    <div class="marquee">
        <p>Welcome to Our Travel Website! Explore the World with Us!</p>
    </div>
    <div class="navbar">
        <a href="featured.html">Feature</a>
        <a href="plannerOverviewPage.html">Planner</a>
        <a href="country_comparison.html">Composition</a>
        <a href="calendar.html">Calendar</a>
    </div>
    <form class="search-bar" action="/city" method="POST">
        <input type="text" name="value">
        <button type="submit">Enter</button>
    </form>
    <script src="script_YI.js"></script>
    <div id="featured">
        <div id="featImg">
            <img src="resources/Eiffel_Tower_20051010.jpg">
        </div>
        <div id="featInfo">
            <div id="cityName">Paris</div>
            <div>Paris, the capital of France, is a city renowned for its romantic ambiance,
                iconic landmarks like the Eiffel Tower, and rich cultural offerings.
                With its grand boulevards, charming cafes, and world-class museums,
                Paris is a captivating destination that seamlessly blends history and modernity,
                making it a global symbol of art, fashion, and gastronomy.</div>
            <div>Food: <img src="resources/fiveStars.jpg"></div>
            <div>Housing: <img src="resources/oneStar.jpg"></div>
            <div>Activites: <img src="resources/twoStars.jpg"></div>
        </div>
    </div>
    <div id="featured">
        <div id="featImg">
            <img src="resources/1024px-Spokane_Washington_Spokane_River.jpg">
        </div>
        <div id="featInfo">
            <div id="cityName"><a href="cityPage.html">Spokane</a></div>
            <div>Spokane, in eastern Washington, is a lively city surrounded by nature.
                It's renowned for outdoor activities, a thriving arts scene, and a rich historical heritage.</div>
            <div>Food: <img src="resources/fiveStars.jpg"></div>
            <div>Housing: <img src="resources/oneStar.jpg"></div>
            <div>Activites: <img src="resources/twoStars.jpg"></div>
        </div>
    </div>
    <div id="featured">
        <div id="featImg">
            <img src="resources/newYork.jpg">
        </div>
        <div id="featInfo">
            <div id="cityName">New York</div>
            <div>New York City, a dynamic metropolis in the United States, is known for its
                iconic landmarks like Times Square and the Statue of Liberty. With a fast-paced
                lifestyle, diverse culture, and vibrant attractions, it stands as a global
                symbol of ambition and urban energy.</div>
            <div>Food: <img src="resources/fiveStars.jpg"></div>
            <div>Housing: <img src="resources/threeStars.jpg"></div>
            <div>Activites: <img src="resources/fourStars.jpg"></div>
        </div>
    </div>
    <div id="featured">
        <div id="featImg">
            <img src="resources/tokyo.jpg">
        </div>
        <div id="featInfo">
            <div id="cityName">Tokyo</div>
            <div>Tokyo, Japan's capital, seamlessly blends modern innovation with traditional charm.
                From futuristic skyscrapers to ancient temples, the city offers a dynamic mix of old
                and new. With vibrant neighborhoods, high-tech attractions, and diverse cuisine, Tokyo
                stands as a global hub of culture and creativity.</div>
            <div>Food: <img src="resources/fourStars.jpg"></div>
            <div>Housing: <img src="resources/fiveStars.jpg"></div>
            <div>Activites: <img src="resources/fiveStars.jpg"></div>
        </div>
    </div>

    <div id="featured">
        <div id="featImg">
            <img src="resources/tokyo.jpg">
        </div>
        <div id="featInfo">
            <% info.forEach(city => { %>
                <div id="cityName"><%= city.name %></div>
                <div><%= city.landmarkDes %></div>
            <% }) %>
        </div>
    </div>

    <script>
        // const search = document.getElementById('search');
        // search.addEventListener('click', () => {
        //     window.location.href = "cityPage.html"
        // });
    </script>
</body>

</html>