<!DOCTYPE html>
<html lang="en">


<head>
    <title>Travel Website</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta name="description" content="Travel Webpage">
</head>

<body>
    <div class="main-title">Travel Page</div>
    <div class="marquee">
        <p>Welcome to Our Travel Website! Explore the World with Us!</p>
    </div>
    <div class="navbar">
        <a href="/">Feature</a>
        <a href="/plannerOverview">Planner</a>
        <a href="/country_comparison">Comparison</a>
        <a href="/calendar">Calendar</a>
    </div>
    <form class="search-bar" action="/city" method="POST">
        <input type="text" name="value">
        <button type="submit">Enter</button>
    </form>
    <div id="container">
        <div id="main">
            <h2 id="plannerHeader">Planner Overview</h2>

            <div class="box-scroll-list">
                <% info.forEach(plan => { %>
                    <div class="planner-box">
                        <div id="plan-title">
                            <h3><%= plan.name %></h3>
                        </div>
                        <div class="planner-buttons">
                            <form action="/plan-editor" method="POST">
                                <button type="submit" id="edit" name="value" value="<%= plan.name %>">View/Edit</button><br>
                            </form>
                            <form action="/deletePlan" method="POST">
                                <button type="submit" id="edit" name="value" value="<%= plan.name %>">Delete</button><br>
                            </form>
                        </div>
                    </div>
                <% }) %>
                <a href="/create-plan">
                    <button type="submit" id="add">+</button><br>
                </a>
                <br>
            </div>
        </div>
    </div>



    <script src="script.js"></script>
</body>

</html>